@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: lighter;
  line-height: 1.4;
  color: #444;
}

#container {
  max-width: 1200px;
  margin: 50px auto;
}

#context-area {
  background-color: aquamarine;
}

.user-actions {
  max-width: 800px;
  margin: 50px auto;
  padding: 0;
  font-family: 'Consolas', monospace;
  font-size: smaller;
  color: #0066aa;
}